.yellow{
    color: yellow;
}

*{
    color:white;
}

.heading-home{
    padding: 150px;
    padding-bottom: 80px;

}

/* .typewriter-name{
    font-size: xx-large;
    font-weight: bold;
    color: aquamarine;
} */

.main-content{
    text-align: center;
    
}

.bottom-content{
    display: flex;
    flex-direction: row;
}

.first-div{
    width: 800px;
}

.image{
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}